@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    color: #7F92B0;
}

@keyframes placement{
    from   {translate: 0px -100px 0px;}
    to {translate: 0px 0px 0px;}
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.show{
    opacity: 1 !important;
    transition: opacity 1s ease-in-out;
    transition-delay: 0.05s;
    animation-name: placement;
    animation-duration: 1s;
}

.fade-out {
    animation: fadeOut 1s forwards;
}

.gradient-background{
    position: absolute;
    box-shadow: 0 0 1000px 50px #0769ca;
}

.circle1{
    top: 100px;
    right: 100px;
}

.circle2{
    top: 500px;
    left: 100px;
}

.circle3{
    top: -100px;
    left: 300px;
}

.circle4{
    top: 700px;
    right: 300px;
}

.circle5{
    top: 1100px;
    left: 300px;
}

.circle6{
    top: 1250px;
    right: 0px;
}

.circle7{
    top: 1700px;
    left: 100px;
}

.circle8{
    top: 1850px;
    right: 350px;
}

.circle9{
    top: 2200px;
    left: 400px;
}

.circle10{
    top: 2400px;
    right: 50px;
}

.circle11{
    top: 2700px;
    left: 150px;
}

.circle12{
    top: 2950px;
    right: 300px;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0px;
}

body::-webkit-scrollbar {
    width: 13px;
}
  
body::-webkit-scrollbar-track {
    background: #0F172A; 
}
  
body::-webkit-scrollbar-thumb {
    background: #2f9acf;
    border-radius: 100px;
    border: 5px solid #0F172A;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s, box-shadow 0.3s;
    z-index: 1000000;
}

header.scrolled {
    box-shadow: 0px -20px 30px 0px #0769ca;
    background-color: #0F172A;
}

.name-profile{
    font-size: 16px;
    font-weight: 500;
    color: #fafafa;
    text-decoration: none;
}

.action-button{
    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-button a{
    font-size: 14px;
    font-weight: 450;
    cursor: pointer;
    transition: all 0.1s;
    text-decoration: none;
}

.action-button a:hover{
    color: #0ccfd3;
}

.contacts-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #2f9acf, #0ccfd3);
    color: #fafafa;
    padding: 10px 15px;
    border-radius: 15px;    
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.contacts-button:hover{
    background: linear-gradient(to right, #0769ca, #0a9db7);
}

.static-socials{
    position: fixed;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.static-socials i{
    font-size: 25px;
    cursor: pointer;
}

.home-profile{
    width: 100%;
    height: 598px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    background-color: #0F172A;
}

.home-profile-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-profile-text a{
    opacity: 0;
    display: flex;
    align-items: start;
    justify-content: left;
    width: 400px;
}

.home-profile-text-greets{
    font-size: 20px;
    font-weight: 450;
    color: #fafafa;
}

.home-profile-text-myself{
    height: 60.67px;
}

.home-profile-text-roles{
    font-size: 50px;
    font-weight: 450;
    background: linear-gradient(to right, #2f9acf, #0ccfd3);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.home-profile-text-introduction{
    font-size: 15px;
    font-weight: 350;
    padding: 20px 0;
}

.home-profile-button-greetings-block{
    padding: 20px 0;
    width: 400px;
}

.home-profile-button-greetings{
    background: linear-gradient(to right, #2f9acf, #0ccfd3);
    color: #fafafa;
    width: 160px !important;
    height: 50px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 18px;
    border-radius: 10px;
    gap: 5px;
    cursor: pointer;
}

.hello-emoji{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-profile-button-greetings:hover{
    background: linear-gradient(to right, #0769ca, #0a9db7);
}

.home-profile-picture{
    opacity: 0;
    height: 250px;
    width: 250px;
    border: 1px solid #313131;
    border-radius: 50px;
}

.home-aboutme{
    height: 598px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background-color: #0F172A;
}

.home-aboutme-picture{
    opacity: 0;
    height: 400px;
    width: 300px;
    border: 1px solid #313131;
    border-radius: 50px;
}

.home-aboutme-text{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.home-aboutme-text a{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 300px;
}

.home-aboutme-text-title{
    font-size: 50px;
    font-weight: 450;
    background: linear-gradient(to right, #2f9acf, #0ccfd3);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.home-aboutme-text-subtitle{
    opacity: 0;
    color: #fafafa;
}

.experience-block{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #fafafa;
    border-radius: 10px;
    width: 130px;
    height: 120px;
    margin: 20px 0;
}

.experience-block a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.fa-award{
    font-size: 30px;
    padding-bottom: 10px;
    background: linear-gradient(to right, #2f9acf, #0ccfd3);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.experience-title{
    font-size: 16px;
    font-weight: 500;
    color: #fafafa;
}

.experience-subtitle{
    font-size: 12px;
}

.home-aboutme-text-subtext{
    font-size: 15px;
    font-weight: 350;
}

.home-skills{
    height: 598px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0F172A;
}

.home-skills-title{
    opacity: 0;
    font-size: 50px;
    font-weight: 450;
    background: linear-gradient(to right, #2f9acf, #0ccfd3);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.home-skills-subtitle{
    opacity: 0;
    color: #fafafa;
    margin-bottom: 50px;
}

.home-skills-content-block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.home-skills-content{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.home-skills-content .skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border: 1px solid #7F92B0;
    border-radius: 20px;
    gap: 10px;
    color: #fafafa;
    font-size: 15px;
    font-weight: 400;
}

.skills img{
    width: 55px;
    height: auto;
}

.skills .level{
    width: 120px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #313131;
}

.skills .html {
    width: 120px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #313131;
    background: linear-gradient(to right, #2f9acf 0%, #0ccfd3 80%, transparent 80%);
}

.skills .css {
    width: 120px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #313131;
    background: linear-gradient(to right, #2f9acf 0%, #0ccfd3 80%, transparent 80%);
}

.skills .js {
    width: 120px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #313131;
    background: linear-gradient(to right, #2f9acf 0%, #0ccfd3 30%, transparent 30%);
}

.skills .word {
    width: 120px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #313131;
    background: linear-gradient(to right, #2f9acf 0%, #0ccfd3 80%, transparent 80%);
}

.skills .excel {
    width: 120px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #313131;
    background: linear-gradient(to right, #2f9acf 0%, #0ccfd3 70%, transparent 70%);
}

.skills .canva {
    width: 120px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #313131;
    background: linear-gradient(to right, #2f9acf 0%, #0ccfd3 80%, transparent 80%);
}

.home-education{
    height: 598px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0F172A;
}

.fa-graduation-cap{
    opacity: 0;
    font-size: 50px;
    background: linear-gradient(to right, #2f9acf, #0ccfd3);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.home-education-title{
    opacity: 0;
    font-size: 50px;
    font-weight: 450;
    background: linear-gradient(to right, #2f9acf, #0ccfd3);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 10px;
    margin-bottom: 30px;
}

.education-progress-line{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.progress-line{
    content: "";
    height: 1px;
    width: 330px;
    background-color: #7F92B0;
}

.progress-line-short{
    content: "";
    height: 1px;
    width: 50px;
    background-color: #7F92B0;
}

.progress-circle{
    content: "";
    height: 20px;
    width: 20px;
    background-color: #7F92B0;
    border-radius: 100px;
}

.education-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.education-profile div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}

.education-profile-title{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
}

.education-profile-subtitle{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 10px;
    background: linear-gradient(to right, #2f9acf, #0ccfd3);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 450;
}

.education-profile-date{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 5px;
    font-weight: 300;
}

.home-portfolio{
    height: 598px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0F172A;
}

.portfolio-title{
    opacity: 0;
    font-size: 50px;
    font-weight: 450;
    background: linear-gradient(to right, #2f9acf, #0ccfd3);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.portfolio-subtitle{
    opacity: 0;
    color: #fafafa;
    margin-bottom: 50px;
}

.portofolio-achievement{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    border: 1px solid #7F92B0;
    border-radius: 50px;
}

.fontopia-logo-block{
    opacity: 0;
    width: 150px;
    height: 150px;
    background: linear-gradient(to right, #2f9acf, #0ccfd3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.fontopia-logo{
    width: 75px;
    height: auto;
}

.fontopia-achievement{
    opacity: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    width: 300px;
    gap: 10px;
}

.fontopia-title{
    opacity: 0;
    color: #fafafa;
    font-size: 25px;
    font-weight: 500;
}

.fontopia-description{
    opacity: 0;
    font-size: 14px;
}

footer{
    position: relative;
    border-top: 1px solid #7F92B0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0F172A;
    z-index: 100;
}

.footer-title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 25px;
    font-weight: 500;
}

.footer-action-button{
    display: flex;
    gap: 50px;
    height: 75px;
    font-weight: 400;
    font-size: 16px;
}

.footer-action-button a{
    cursor: pointer;
}

.footer-socials{
    display: flex;
    gap: 50px;
    height: 150px;
}

.footer-socials i{
    font-size: 35px;
    cursor: pointer;
}

.footer-copyright{
    height: 50px;
    color: #fafafa;
    font-size: 14px;
}