@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    color: #7F92B0;
}

@keyframes placement{
    from   {translate: 0px -100px 0px;}
    to {translate: 0px 0px 0px;}
}

body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0px;
}

body::-webkit-scrollbar {
    width: 13px;
}
  
body::-webkit-scrollbar-track {
    background: #0F172A; 
}
  
body::-webkit-scrollbar-thumb {
    background: #2f9acf;
    border-radius: 100px;
    border: 5px solid #0F172A;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s, box-shadow 0.3s;
    z-index: 1000000;
}

header.scrolled {
    box-shadow: 0px -20px 30px 0px #151515;
    background-color: #0F172A;
}

.name-profile{
    font-size: 16px;
    font-weight: 500;
    color: #fafafa;
}

.action-button{
    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-button a{
    font-size: 14px;
    font-weight: 450;
    cursor: pointer;
    transition: all 0.1s;
}

.action-button a:hover{
    color: #0ccfd3;
}

.contacts-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #2f9acf, #0ccfd3);
    color: #fafafa;
    padding: 10px 15px;
    border-radius: 15px;    
    cursor: pointer;
    font-size: 14px;
}

.contacts-button:hover{
    background: linear-gradient(to right, #0769ca, #0a9db7);
}

.static-socials{
    position: fixed;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.static-socials i{
    font-size: 25px;
    cursor: pointer;
}

.home-profile{
    width: 100%;
    height: 598px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    background-color: #0F172A;
}

.home-profile-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-profile-text a{
    opacity: 0;
    display: flex;
    align-items: start;
    justify-content: left;
    width: 300px;
}

.home-profile-text a.show{
    opacity: 1;
    transition: opacity 1s ease-in-out;
    transition-delay: 0.05s;
    animation-name: placement;
    animation-duration: 1s;
}

.home-profile-text-greets{
    font-size: 20px;
    font-weight: 450;
    color: #fafafa;
}

.home-profile-text-name{
    font-size: 50px;
    font-weight: 450;
    background: linear-gradient(to right, #2f9acf, #0ccfd3);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.home-profile-text-role{
    font-size: 20px;
    font-weight: 300;
    padding: 5px 0 10px;
    position: relative;
    left: 70px;
    color: #fafafa;
}

.home-profile-text-role::before {
    content: '';
    position: absolute;
    left: -70px;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 1px;
    background-color: #fafafa;
}

.home-profile-text-introduction{
    font-size: 15px;
    font-weight: 350;
    padding: 20px 0;
}

.home-profile-button-greetings-block{
    padding: 20px 0;
    width: 300px;
}

.home-profile-button-greetings{
    background: linear-gradient(to right, #2f9acf, #0ccfd3);
    color: #fafafa;
    width: 160px !important;
    height: 50px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 18px;
    border-radius: 10px;
    gap: 5px;
    cursor: pointer;
}

.hello-emoji{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-profile-button-greetings:hover{
    background: linear-gradient(to right, #0769ca, #0a9db7);
}

.home-profile-picture{
    opacity: 0;
    height: 250px;
    width: 250px;
    border: 1px solid #313131;
    border-radius: 50px;
}

.home-profile-picture.show{
    opacity: 1;
    transition: opacity 1s ease-in-out;
    transition-delay: 0.05s;
    animation-name: placement;
    animation-duration: 1s;
}

.home-aboutme{
    height: 598px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background-color: #0F172A;
}

.home-aboutme-picture{
    opacity: 0;
    height: 400px;
    width: 300px;
    border: 1px solid #313131;
    border-radius: 50px;
}

.home-aboutme-picture.show{
    opacity: 1;
    transition: opacity 1s ease-in-out;
    transition-delay: 0.05s;
    animation-name: placement;
    animation-duration: 1s;
}

.home-aboutme-text{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.home-aboutme-text a{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 300px;
}

.home-aboutme-text a.show{
    opacity: 1;
    transition: opacity 1s ease-in-out;
    transition-delay: 0.05s;
    animation-name: placement;
    animation-duration: 1s;
}

.home-aboutme-text-title{
    font-size: 50px;
    font-weight: 450;
    background: linear-gradient(to right, #2f9acf, #0ccfd3);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.home-aboutme-text-subtitle{
    font-size: 20px;
    font-weight: 300;
    color: #fafafa;
}

.experience-block{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #848484;
    border-radius: 10px;
    width: 130px;
    height: 120px;
    margin: 20px 0;
}

.experience-block.show{
    opacity: 1;
    transition: opacity 1s ease-in-out;
    transition-delay: 0.05s;
    animation-name: placement;
    animation-duration: 1s;
}

.experience-block a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.fa-award{
    font-size: 30px;
    padding-bottom: 10px;
    background: linear-gradient(to right, #2f9acf, #0ccfd3);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.experience-title{
    font-size: 16px;
    font-weight: 500;
    color: #fafafa;
}

.experience-subtitle{
    font-size: 12px;
}

.home-aboutme-text-subtext{
    font-size: 15px;
    font-weight: 350;
}

.gradient-background{
    position: absolute;
    box-shadow: 0 0 1000px 50px #0769ca;
}

.circle1{
    top: 100px;
    right: 100px;
}

.circle2{
    top: 500px;
    left: 100px;
}

.circle3{
    top: -100px;
    left: 300px;
}

.circle4{
    top: 700px;
    right: 300px;
}

.circle5{
    top: 1100px;
    left: 300px;
}